@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.sbn {
  text-decoration: none;
  font-size: 25px;
  color: #2E2E2E
  justify-content: center;
  background: linear-gradient(90deg, #ffe259 15.1%, #ffa751 85.42%);
  font-family: "Montserrat", sans-serif;
  padding: 18px 32px;
  border-radius: 30px;
}

.btn--second {
color: #112A46;
font-weight: 400;
line-height: 22px;
align-items: center;
  background-color: #b8daff;
  font-size: 20px;
 border-color: #B8DAFF;
 border-style: solid;
  padding: 18px 32px;
}

.dlt{
    font-size: 18px;
    font-weight: 400px;
    line-height: 22px;
    background-color: #ffff;
    width: 124px;
    height: 48px;
    padding: 13px 32px;
    color: #1D3557;
    border: 2px dashed #E63946
    
    
}